body {
  width: 40rem;
  background-color: #ee1c25;
  margin: 0;
  font-size: 1rem;
  user-select: none;
  text-align: center;
}

.popup-title {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  background-color: Yellow;
  color: black;
  width: 100%;
  padding: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.checkbox-container input[type="checkbox"] {
  margin-left: 1rem;
}

.popup-content {
  font-family: monospace;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
}

img {
  display: inline-block;
  margin: 0 auto 1.5rem 0;
  max-width: 80%;
}